html, body, h1, h2, h3, div, span, a, ol, ul, li, p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	height: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center bottom, circle farthest-corner, #c0c0c0 0%, #430043 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center bottom, circle farthest-corner, #c0c0c0 0%, #430043 100%);

/* Opera */ 
background-image: -o-radial-gradient(center bottom, circle farthest-corner, #c0c0c0 0%, #430043 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #c0c0c0), color-stop(1, #430043));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, #c0c0c0 0%, #430043 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center bottom, #c0c0c0 0%, #430043 100%);
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 76%;
	display: block;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 870px;
	margin: 0 auto -4em;
	z-index: 10px;
}


header {
	height: 87px;
}

header hgroup {
	margin: 30px 0 15px 0;
}

header h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	position: relative;
}

h1 {
	text-shadow: #FFF 0.5px 0.5px 5px;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 3px;
}

header h2 {
	font-style: italic;
	letter-spacing: 2px;
	line-height: 2;
	font-weight: normal;
	font-size: 16px;
}

h2 {
	background-position: top;
	font-family: Tahoma, Geneva, sans-serif;
	padding: 7px 0 0 0;
}

nav {
	height: 50px;
	margin-top: 30px;
}

nav ul {
	margin: 0 auto;
	height: 30px;
	text-align: center;
	list-style: none;
	white-space: nowrap;
	padding: 20px 0 0 4px;
}

nav ul li {
	float: left;
	list-style: none;
	display: list-item;
	margin-right: 18px;
	position: relative;
	font-size: 12px;
}

nav li a {
	font-weight: bold;
	font-style: normal;
	display: block;
	text-decoration: none;
	white-space: nowrap;
	color: #FFF;
	text-shadow: 2px 2px 3px #430043;
	 -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

nav:hover li a{
	text-shadow: 1px 1px 0.8px #FFF;
	color: transparent;
}

nav li a:hover{
	background: transparent;
	text-shadow: 2px 2px 3px #430043;
	color: white;
}

#slideshow {
    position: relative;
    height: 400px;
	margin: 15px 0 2px 0;
}

#author {
	float: right;
	width: 250px;
	text-align: right;
}

#author p {
	font-size: 11.5px;
	color: #FFF;
	font-style: italic;
	font-weight: bold;
	margin-top: 5px;
}

#slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    opacity: 0.0;
	margin-bottom: 9px;
	padding: 0 0 20px 0;
}

#slideshow img.active {
    z-index: 10;
    opacity: 1.0;
}

#slideshow img.last-active {
    z-index: 9;
}

#holder_content {
	position: relative;
	width: 100%;
	margin-bottom: 8px;
	overflow: hidden;
	clear: both;
}

#content {
	position: relative;
	float: left;
	width: 480px;
	display: block;
}

h3 {
	font-size: 23px;
	line-height: 1.6;
	color: #fff;
	text-transform: none;
	text-align: left;
	background-color: transparent;
	padding-top: 12px;
	margin-top: 20px;
}

p {
   color: #fff;
   margin: 12px 0 0 0;
   line-height: 1.625;
   font-size: 15px; 
   font-family: Arial, Helvetica, sans-serif;
}

aside {
	float: right;
	width: 300px;
	position: relative;
	margin-top: 30px;
}

aside ul.block {
	width: 288px;
	list-style: none;
	margin-top: -12px;
}

aside ul.block li {
	float: left;
	display: inline;
	margin-right: 9px;
}

aside ul.block li a {
	text-decoration: none;
}

h4 {
	font-size: 18px;
	color: #fff;
	text-transform: none;
	text-align: left;
	padding-top: 25px;
}








