html, h1, h2, h3, div, span, a, ol, ul, li, img, p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	height: 100%;
}

article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
	display: block;
}

body {
	height: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center bottom, circle farthest-corner, #c0c0c0 0%, #430043 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center bottom, circle farthest-corner, #c0c0c0 0%, #430043 100%);

/* Opera */ 
background-image: -o-radial-gradient(center bottom, circle farthest-corner, #c0c0c0 0%, #430043 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #c0c0c0), color-stop(1, #430043));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center bottom, circle farthest-corner, #c0c0c0 0%, #430043 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center bottom, #c0c0c0 0%, #430043 100%);
	color: #FFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 76%;
	display: block;
}

header {
	height: 87px;
}

header hgroup {
	margin: 30px 0 15px 0;
}

header h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 48px;
	position: relative;
	text-shadow: #FFF 0.5px 0.5px 5px;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 3px;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 870px;
	margin: 0 auto -4em;
	z-index: 10px;
}

#container > header h2 {
	font-style: italic;
	letter-spacing: 2px;
	line-height: 2;
	font-weight: normal;
	font-size: 16px;
	background-position: top;
	font-family: Tahoma, Geneva, sans-serif;
	padding: 7px 0 0 0;
}

nav {
	height: 50px;
	margin-top: 30px;
}

nav ul {
	margin: 0 auto;
	height: 30px;
	text-align: center;
	list-style: none;
	white-space: nowrap;
	padding: 20px 0 0 4px;
}

nav ul li {
	float: left;
	list-style: none;
	display: list-item;
	margin-right: 18px;
	position: relative;
	font-size: 12px;
}

nav li a {
	font-weight: bold;
	font-style: normal;
	display: block;
	text-decoration: none;
	white-space: nowrap;
	color: #FFF;
	text-shadow: 2px 2px 3px #430043;
	 -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

nav:hover li a{
	text-shadow: 1px 1px 0.8px #FFF;
	color: transparent;
}

nav li a:hover{
	background: transparent;
	text-shadow: 2px 2px 3px #430043;
	color: white;
}

#content {
	margin-top: 60px;
	color: #fff; 
}

#content h3 {
	font-size: 36px;
	font-weight: bold;
	line-height: 48px;
	text-shadow: 0 0 0 #111;
	display: block;
}

#content p {
	margin-top: 25px;
	line-height: 25px;
	vertical-align: baseline;
	font-size: 13px;
	width: 700px;
}

#content ul {
	padding-top: 15px;
	margin-left: 30px;
	list-style-type: square;
}

#content ul li {
	padding-bottom: 11px;
	line-height: 30px;
	font-weight: 800;
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
}

#content ul li a {
	padding-bottom: 11px;
	line-height: 30px;
	font-weight: 800;
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
}

#push {
	height: 4em;
}

footer {
	color: #430043;
	font-weight: 700;
	font-size: 12px;
	text-align: center;
	height: 4em;
}



  






